/*Especificidad: 001*/
body{
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

/*Especificidad: 001*/
h1{
    color: white;
    background-color: black;
    text-align: center;
    
}

/*Especificidad: 001*/
h1{
    font-size: 1.5em;
    padding: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

/*Especificidad: 001*/
main{
    display: flex;
    flex-direction: column;
    width: 25em;
    margin: 1.5em;
    padding: 0em;
    background-color: rgba(211, 211, 211, 0.326);
    color: black;

}

/*Especificidad: 002*/
ul li{
    list-style: none;
    text-align: right;
}

/*Especificidad: 002*/
main p{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.15em;
    margin: 0em;
    text-align: center;
}

/*Especificidad: 011*/
input[type= "text"]{
    text-align: right;
    background-color: rgba(211, 211, 211, 0.326);
    color: black;
}

/*Especificidad: 011*/
input[type = "submit"]{
    height: 3em;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(22){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(23){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(24){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(27){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(28){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(29){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(32){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(33){
    background-color: white;
    color: black;
    font-weight: bold;
}

/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(34){
    background-color: white;
    color: black;
    font-weight: bold;
}


/*Especificidad: 021*/
input[type = "submit"]:nth-of-type(38){
    background-color: white;
    color: black;
    font-weight: bold;
}


/*Especificidad: 001*/
footer{
    display: block;
    color: white;
    background-color: black;
    padding: 0.5em;
    text-align: center;
    font-size: 1em;
    font-weight:bold;
    margin-block-start: 1em;

  }